@model HThongSoatVe.Models.ChuongTrinh

@{
    ViewBag.Title = "CTietCT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .return {
        color: #808080;
        float: right;
        font-size: 16px;
    }

        .return:hover {
            transform: scale(1.5, 1.5);
            color: #000000;
            text-decoration: none;
        }
</style>
<div class="container-Details">
    <div class="card">
       
        <div class="info">
            <a class="big return" href="@Url.Action("AllSP","ChuongTrinh")"> X </a>
            <div class="shoeName">
                <div>
                    <h1 class="big">@Model.ten</h1>

                </div>
            </div>
            <div class="description">
                <h3 class="title">Product Info</h3>
                <p class="text">@Model.mota</p>
            </div>
          
            @*<div class="buy-price">
                <a href="@Url.Action("ThemGioHang","GioHang",new {masp = @Model.MaSP, strUrl = Request.Url.ToString() })" class="buy"><i class="fas fa-shopping-cart"></i>Add to card</a>
                <div class="price">
                    <h1>@Model.Giaban</h1>
                </div>
            </div>*@
        </div>
    </div>
</div>

